modules
config
source/src/buildengine.sh
source/src/bin
source/include/conf/*.sh
source/include/conf/sleepyversion.h
source/include/conf/regex_style.h
source/sleepy-discord
source/pcre*
*.tar.gz
*.o
*.a
*.fso
faragebot

